= semantic_form_for @trader, :remote => true do |f|
  %ul
    - @trader.errors.full_messages.each do |m|
      %li= m
  = f.inputs "The trader you're looking for isn't listed above? Add them!" do
    = f.input :first_name
    = f.input :last_name
    -#= f.input :question
    -#%strong What's this 'question' business?
    -#%br
    -#The trader you're creating a profile for may come across this review you're writing, and want to respond in person. For the site to recognise
    = f.hidden_field :sprightly, :value => '0'
    = render :partial => 'imageable/show', :locals => { :upload_id => 'trader_upload', :hidden_id => 'trader_image_tokens', :name => 'trader_image_tokens', :thumbs => 'trader_image_thumbs' }
    = f.submit "Create a new trader"
