- content_for :title do
  Trader - #{@trader.name}

%h1= @trader.name

%p Email: #{@trader.email}

%h3 Professions
= render :partial => 'professions/list', :locals => { :professions => @trader.professions }

- @trader.addresses.each do |address|
  &nbsp;
  
%h3 Praise
= render :partial => 'reviews/list', :locals => { :reviews => @self_reviews, :editable => false }
  
%h3 Job Praise
= render :partial => 'reviews/list', :locals => { :reviews => @self_reviews, :editable => false }
