Write a few quick words about the job itself.

= semantic_form_for @job, :remote => true, :html => { :multipart => true } do |f|
  %ul
    - @job.errors.full_messages.each do |m|
      %li= m
  = f.inputs "Job info" do
    = f.input :title
    = f.input :description
    = f.input :public, :hint => "If you want to make your job viewable on the site's search results, click here."
    = f.input :trader_id, :as => :hidden
    %input#job_address_lat{:type => 'hidden', :name => 'job[address_attributes][lat]'}
    %input#job_address_lng{:type => 'hidden', :name => 'job[address_attributes][lng]'}
    %input#job_address_readable{:type => 'hidden', :name => 'job[address_attributes][readable]'}
    %li.required
      %label{:for => 'address'} Address
      %input#address{:type => 'text'}
      %input#address_button{:type => 'button', :value => 'Get Address'}
      %span#address_feedback
      #map_canvas
    %li.required
      %label{:for => 'image'} Images
    %input#job_upload{:type => 'file'}
    %br
    = render :partial => 'imageable/show', :locals => { :id => 'job_image_tokens', :name => 'job[image_tokens]', :thumbs => 'job_thumbs' }
    = f.submit "Create a new job"
