%h1 All Jobs
= link_to "New job", new_job_path

- if @jobs.length != 0
  - @jobs.each do |job|
    .job
      %ul
        %li= link_to job.title, job
        %li= job.description
        - if !job.address.nil?
          %li= job.address.latitude
          %li= job.address.longitude

            
- else
  No jobs exist just yet.

