%h1= @job.title

%strong Description:
= @job.description
%br
%br
- if @job.completed?
  This job has been completed by #{link_to @job.trader.name, @job.trader}.
- else
  - if current_user.instance_of? Trader
    This job hasn't been completed - #{link_to "submit a quote!", new_job_quote_path}
  - else
    This job hasn't been completed.

%strong Address:
%table
  %tr
    %td Street
    %td= @job.address.street
  %tr
    %td Suburb
    %td= @job.address.suburb
  %tr
    %td City
    %td= @job.address.city
  %tr
    %td State
    %td= @job.address.state
  %tr
    %td Country
    %td= @job.address.country
