:javascript
  $(document).ready(function() {
  
    $("#choose_trader").submit(function(event) {
      $.getJSON('/traders/find.html', $(this).serialize(), function(data) {
        $("#trader_results").html("");
        $.each(data, function(index, trader) {
          if (trader.id != 0) {
            $("#trader_results").append('<li class="pointer" id="trader_' + trader.id + '">' + trader.name + '</li>');
            $("#trader_" + trader.id).click(function() {
              if ($("#trader_x").parent().attr('id') == $(this).attr('id')) {
                $("#trader_x").remove();
                $("#job_trader_id").val('');
              } else {
                $("#trader_x").remove();
                $(this).html($(this).html() + '<span id="trader_x"> X</span>');
           
                // Whack the *currently existing* trader id onto the job form.
                $("#job_trader_id").val(trader.id);
              }
            });
          } else {
            $("#trader_results").append('<li>' + trader.name + '</li>');
          }
        });
        $("#trader_results").append('<li>Not on the list? <a href="#" id="toggle_new_trader">Add them!</a></li>');
        $("#toggle_new_trader").click(function() {
          $("#new_trader_div").toggle();
          var self = $(this);
          if (self.html() == "Add them!")
            self.html("Close this window");
          else if (self.html() == "Close this window") 
            self.html("Add them!");
          return false;
        });
      });
      event.preventDefault();
    });
  });
  
= render 'jobs/form_js'

%h1 Quick Review

- if current_user.instance_of? Trader and @job.trader.nil?
  %input{:type => 'button', :value => 'I did this job!'}
  
%h2#step_1 (Step 1 of 3) Choose a trader
%p
  %strong TODO
  %em The list of returned Traders needs to have sorting options - sort by relevance (algorithm to deduce relevance TBD), distance from current location (either taken from the Google Map below or deduced by IP), average fee, reputation? Filtered by name, profession. Presentation: bullet list, first+last names, thumbnail image, link to Trader profile page. Click on Trader thumbnail to select for job below.
%form#choose_trader{:name => 'choose_trader', :action => '/', :method => 'get', :class => 'formtastic'}
  %fieldset{:class => 'inputs'}
    %input{:type => 'text', :id => 'trader_text', :name => 'trader_text'}
    %input{:type => 'submit', :value => 'Search'}

%ul#trader_results


-# New Trader form, shown and submitted only when the Select Trader list doesn't have the trader the user wants.
#new_trader_div{:style => "display:none;"}
  %h2#step_1a (Step 1-and-a-bit of 3) Create a new trader
  = semantic_form_for @trader, :remote => true do |f|
    %ul
      - @trader.errors.full_messages.each do |m|
        %li= m
    = f.inputs "Your trader isn't listed above - add them!" do
      = f.input :first_name
      = f.input :last_name
      = f.input :question
      %strong What's this 'question' business?
      %br
      The trader you're creating a profile for may one day come across this review you're writing, and want to comment on the review, as the trader. The only person really suited to confirming their identity is you. To do this, simply write a security question in the text field above, that only the trader will know. When the trader clicks on the 'I did this job!' button on this page (which is visible only to people logged in as traders), they'll be shown the question you wrote, and answer it. Their answer will be emailed to you, and it's up to to you say if the answer is right or not, by clicking on one of the Yes/No buttons on the email. If "Yes", the website will authenticate them as the trader.
      %br
      = f.hidden_field :sprightly, :value => '0'
      = f.submit "Create a new trader"

%h2#step_2 (Step 2 of 3) Describe the job
%p
  %strong TODO
  %em Title, Description and Imageable done - jobs are Videoable too. Find relevant video jQuery plugin. Google map - more polishing. Add animation for adding markers, plus, say, 200ms delay between adding each; if only one marker appears, then automatically select it; make it more clear to the user that they have to click on a marker to select that address. 
= render 'jobs/form'
  

%h2#step_3 (Step 3 of 3) Review it!
%p
  %strong TODO
  %em Similar deal with Reviews as Jobs - get Videoable cranking along.
#trader_reviewed
  = render 'reviews/form'
  

