:javascript
  $(document).ready(function() {
    $("#accordion").accordion({
      autoHeight: false,
      navigation: true,
      change: function(event, ui) {
        google.maps.event.trigger(document.getElementById('map_canvas'), 'resize');
      }
    });
  });

- content_for :title do
  = @title

- content_for :google_maps do
  = render :partial => 'locatable/locatable.haml'

= render :partial => 'traders/search_js', :locals => { :create_new => true, :select_many => false, :trader_bucket => '#job_trader_id' }
= render :partial => 'jobs/form_js'

%h1= @title

If you've just had a job done and want to throw together a quick review, this is the place.

- if current_user.instance_of?(Trader) && @job.trader.nil?
  %input{:type => 'button', :value => 'I did this job!'}

#accordion

  %h3#step_1
    %a{:href => '#section1'}
      Step 1: Choose a trader
  %div
    = render 'traders/search'

    #new_trader_div{:style => "display:none;"}
      %h4#step_1a Step 1-and-a-bit: Create a new trader
      = render 'traders/form'

  %h3#step_2
    %a{:href => '#section2'}
      Step 2: Describe the job
  %div
    = render 'jobs/form'

  %h3#step_3
    %a{:href => '#section3'}
      Step 3: Review it!

  #trader_reviewed
    = render 'reviews/form'
