!!! 5
%html
  %head
    = stylesheet_link_tag :all
    %link{:href => '/uploadify/uploadify.css', :type => 'text/css', :rel => 'stylesheet'}
    = csrf_meta_tag

    %title= content_for?(:title) ? yield(:title) : "Untitled"
    = yield :head
      
    = content_for?(:google_maps) ? yield(:google_maps) : ''
    = javascript_include_tag 'jquery.min', 'jquery-ui-1.8.14.custom.min', 'application.js', 'rails.js'
    %script{:type => 'text/javascript', :src => '/uploadify/swfobject.js'}
    %script{:type => 'text/javascript', :src => '/uploadify/jquery.uploadify.v2.1.4.min.js'} 

  %body  
    #container
      #user_nav
        - if user_signed_in?
          Signed in as #{current_user.email}. Not you? #{link_to 'Sign out', destroy_user_session_path}.
        - else 
          #{link_to "Sign up", new_customer_registration_path} or #{link_to "sign in", new_customer_session_path}.
      
      #site_nav
        - if current_user.instance_of? Customer
          %span #{link_to 'Quick Review', '/reviews/quick'}

        - if user_signed_in?
          %span #{link_to 'Profile', profile_path}
          
        %span #{link_to 'Traders', traders_path}
        %span #{link_to 'Reviews', reviews_path}
        %span #{link_to 'Jobs', jobs_path}
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
    
      = content_tag :h1, yield(:title) if show_title?
      = yield


